body {
  font-family: "Oswald", sans-serif !important;
  z-index: 30;
}

.banner {
  display: flex;
  margin: auto;
  background-color: #61787f;
  width: 80%;
  border: 2px solid black;
  margin-top: 1%;
  height: 9em;
}
.banner__logo img {
  width: 85%;
  height: 85%;
  margin-top: 4%;
  object-fit: contain;
}
.banner__title {
  margin: auto;
  margin-top: 10%;
  color: white;
  font-weight: 300;
  font-size: 3em;
}

.best-film {
  display: flex;
  margin: auto;
  width: 80%;
  flex-direction: column;
}
.best-film__title_categorie {
  font-size: 80px;
}
.best-film__main-movie {
  display: flex;
  flex-direction: row;
  border: 10px solid black;
  height: 40em;
}
.best-film__image {
  display: flex;
  padding: 20px;
  max-width: 408px;
  width: 100%;
}
.best-film__image img {
  max-width: 100%;
  height: auto;
  flex-shrink: 1;
}
.best-film__container-title {
  display: flex;
  flex-direction: column;
}
.best-film__container-title h3 {
  font-size: 80px;
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 0%;
}
.best-film__container-desc {
  display: flex;
  margin-left: 5%;
  margin-top: 0%;
  object-fit: contain;
  height: 75%;
  flex-direction: column;
}
.best-film__container-desc p {
  font-size: 45px;
  font-weight: 100;
  overflow: auto;
  height: 250px;
}
.best-film__btn {
  background-color: red;
  border: 30px solid red;
  border-right: 100px solid red;
  border-left: 100px solid red;
  border-radius: 45px;
  font-size: 40px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.best-film__button {
  width: 38%;
  margin-left: 60%;
  margin-bottom: 2%;
}

.grid-film {
  display: flex;
  margin: auto;
  width: 80%;
  height: auto;
  flex-direction: column;
}
.grid-film__main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 40px;
}
.grid-film__main-grid img {
  max-width: 480px;
  max-height: 480px;
  width: 100%;
  height: 100%;
  background-position: center;
  display: block;
}
.grid-film__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.grid-film__banner {
  position: absolute;
  display: flex;
  width: 100%;
  height: 180px;
  top: 8%;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}
.grid-film__banner-title h3 {
  color: white;
  font-size: 40px;
  margin-top: 0%;
  margin-left: 5%;
  opacity: 1 !important;
  z-index: 200;
  margin-bottom: 0%;
}
.grid-film__banner-title {
  position: absolute;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  top: 8%;
}
.grid-film__bloc-button {
  position: absolute;
  z-index: 200;
  left: 67%;
  top: 33%;
}
.grid-film__btn {
  background-color: #333333;
  border: 6px solid #333333;
  border-left: 35px solid #333333;
  border-right: 35px solid #333333;
  border-radius: 25px;
  font-family: "Oswald", sans-serif !important;
  z-index: 200;
  color: white;
  font-size: 25px;
}
.grid-film__button-show-more {
  display: none;
}

.nav-bar {
  display: flex;
  align-items: center;
}
.nav-bar__choice {
  margin-right: 1.3em;
}
.nav-bar select {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 20%;
  height: 50px;
  background-color: white;
  margin-top: 20px;
  margin-left: 40px;
}
.nav-bar option {
  font-weight: bold;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  z-index: 999;
  background-color: white;
  border: 8px solid black;
}
.modal__content {
  height: 100%;
}
.modal__start-content {
  display: flex;
  flex-direction: row;
}
.modal__content-block {
  width: 70%;
  margin-left: 30px;
}
.modal #modal-title {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.modal__content-block p {
  font-size: 20px;
}
.modal__text-reals {
  margin-top: 0px;
  font-weight: 100;
  font-size: 20px;
}
.modal__text {
  font-weight: bold;
  margin: 0px;
  font-size: 20px;
}
.modal #score-imdb {
  margin-bottom: 10%;
}
.modal__image {
  display: flex;
  margin: 30px;
  max-width: 260px;
  width: 100%;
  max-height: 325px;
}
.modal__image-mobile {
  display: none;
}
.modal__image img {
  width: 100%;
  height: auto;
  flex-shrink: 1;
}
.modal__text-content {
  font-weight: 100;
  margin: auto;
  height: 18em;
  width: 90%;
}
.modal__text-content p {
  overflow: auto;
}
.modal__desc {
  font-size: 22px;
  font-weight: 100;
  margin-top: 0px;
  overflow: auto;
}
.modal__actors {
  margin: auto;
  width: 90%;
  height: auto;
}
.modal__btn {
  background-color: red;
  border: 4px solid red;
  border-left: 100px solid red;
  border-right: 100px solid red;
  border-radius: 25px;
  font-family: "Oswald", sans-serif !important;
  z-index: 200;
  color: white;
  font-size: 25px;
}
.modal__button {
  margin: auto;
  margin-bottom: 5px;
  width: 272px;
}
.modal__btn-mobile {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 499;
  display: none;
}

.grid-choice {
  display: none;
}

#grid-1 {
  visibility: hidden;
}

#grid-2 {
  visibility: hidden;
}

#grid-3 {
  visibility: hidden;
}

#grid-4 {
  visibility: hidden;
}

#grid-5 {
  visibility: hidden;
}

#grid-6 {
  visibility: hidden;
}

@media screen and (max-width: 1710px) {
  .best-film__button {
    margin-left: 45%;
  }
  .grid-film__bloc-button {
    left: 57%;
    top: 36%;
  }
  .grid-film__banner-title h3 {
    font-size: 30px;
  }
  .grid-film__main-grid img {
    max-height: 400px;
    height: 99%;
  }
}
@media screen and (max-width: 1380px) {
  .best-film__btn {
    background-color: red;
    border: 20px solid red;
    border-right: 70px solid red;
    border-left: 70px solid red;
    font-size: 30px;
  }
  .best-film__button {
    margin-left: 45%;
  }
  .best-film__container-desc p {
    height: 400px;
    margin: 0;
  }
  .grid-film__bloc-button {
    left: 51%;
    top: 41%;
  }
  .grid-film__banner-title h3 {
    font-size: 30px;
  }
  .grid-film__main-grid img {
    max-height: 350px;
    height: 99%;
  }
}
@media screen and (max-width: 1210px) {
  .grid-film__bloc-button {
    left: 49%;
    top: 41%;
  }
  .grid-film__banner-title h3 {
    font-size: 30px;
  }
  .grid-film__main-grid img {
    max-height: 250px;
    height: 99%;
  }
  .grid-film__btn {
    border: 4px solid #333333;
    border-left: 30px solid #333333;
    border-right: 30px solid #333333;
    border-radius: 25px;
    font-size: 20px;
  }
  .grid-film__banner-title h3 {
    font-size: 23px;
  }
  .grid-film__banner {
    height: 130px;
  }
  .modal__image {
    display: flex;
    margin: 30px;
    max-width: 200px;
    width: 100%;
    max-height: 275px;
  }
  .modal__image img {
    width: 100%;
    height: auto;
    flex-shrink: 1;
  }
  .modal #modal-title {
    font-size: 30px;
  }
  .modal__text {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .best-film__title_categorie {
    font-size: 60px;
    margin: 10px;
    margin-left: 0;
  }
  .best-film__main-movie {
    display: flex;
    border: 10px solid black;
    height: 350px;
  }
  .best-film__image {
    padding: 5px;
    width: 40%;
  }
  .best-film__container-title h3 {
    font-size: 35px;
  }
  .best-film__container-desc p {
    font-size: 25px;
    height: 300px;
    margin: 0;
  }
  .best-film__container-desc {
    margin-left: 3%;
    height: 80%;
  }
  .best-film__btn {
    background-color: red;
    border: 15px solid red;
    border-right: 50px solid red;
    border-left: 50px solid red;
    font-size: 25px;
  }
  .best-film__button {
    margin-left: 60%;
  }
  .grid-film__main-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
  }
  .grid-film__main-grid img {
    max-height: 325px;
    height: 99%;
  }
  .grid-film__banner {
    height: 140px;
  }
  .grid-film__banner-title h3 {
    font-size: 30px;
    margin-top: 0;
  }
  .grid-film__bloc-button {
    left: 62%;
    top: 35%;
  }
  .grid-film__btn {
    border: 4px solid #333333;
    border-left: 30px solid #333333;
    border-right: 30px solid #333333;
    border-radius: 25px;
    font-size: 20px;
  }
  .grid-film__hidden-tablet {
    display: none;
  }
  .grid-film__button-show-more {
    margin: auto;
    margin-top: 10px;
    display: block;
  }
  .nav-bar select {
    width: 40%;
    height: 50px;
    background-color: white;
    margin-top: 20px;
    margin-left: 40px;
  }
  .nav-bar option {
    font-size: 20px;
  }
  .btn-view {
    background-color: red;
    border: 10px solid red;
    border-right: 10px solid red;
    border-left: 10px solid red;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    font-family: "Oswald", sans-serif !important;
    width: 100%;
  }
  .modal {
    width: 70%;
    height: 95%;
    overflow: auto;
  }
  .modal__start-content {
    flex-direction: column;
  }
  .modal__content-block {
    width: 90%;
    margin-left: 35px;
  }
  .modal #score-imdb {
    margin-bottom: 20px;
  }
  .modal #modal-title {
    font-size: 40px;
    margin-top: 0px;
  }
  .modal__content-block p {
    font-size: 20px;
  }
  .modal__text-reals {
    font-size: 20px;
  }
  .modal__text {
    font-size: 20px;
  }
  .modal__desc {
    font-size: 20px;
  }
  .modal__image {
    display: none;
  }
  .modal__text-content p {
    height: auto;
  }
  .modal__text-content {
    height: auto;
    margin-left: 35px;
    margin-right: 35px;
  }
  .modal__modal-desc {
    height: 100%;
  }
  .modal__image-mobile {
    display: flex;
    margin: 15px;
    max-width: 100%;
    max-height: 600px;
    object-fit: cover;
  }
  .modal__image-mobile img {
    margin: auto;
    height: 600px;
    width: 90%;
    background-position: center;
    display: block;
  }
  .modal__btn {
    display: none;
  }
  .modal__actors {
    height: auto;
  }
  .modal__btn-mobile {
    display: flex;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    border: initial;
    background: initial;
    color: initial;
  }
  .modal__btn-mobile img {
    width: 19px;
    height: 19px;
  }
  #show-more-choice {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  .best-film__title_categorie {
    font-size: 60px;
    margin: 10px;
    margin-left: 0;
  }
  .best-film__main-movie {
    display: flex;
    border: 10px solid black;
    height: 350px;
  }
  .best-film__image {
    padding: 5px;
    width: 55%;
  }
  .best-film__container-title h3 {
    font-size: 35px;
  }
  .best-film__container-desc p {
    font-size: 20px;
    height: 300px;
    margin: 0;
  }
  .best-film__container-desc {
    margin-left: 3%;
    height: 80%;
  }
  .best-film__btn {
    background-color: red;
    border: 10px solid red;
    border-right: 40px solid red;
    border-left: 40px solid red;
    font-size: 15px;
  }
  .best-film__button {
    margin-left: 60%;
  }
  .grid-film__main-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
  }
  .grid-film__main-grid img {
    max-height: 325px;
    height: 99%;
  }
  .grid-film__banner {
    height: 140px;
  }
  .grid-film__banner-title h3 {
    font-size: 26px;
    margin-top: 0;
  }
  .grid-film__bloc-button {
    left: 57%;
    top: 35%;
  }
  .grid-film__btn {
    border: 4px solid #333333;
    border-left: 30px solid #333333;
    border-right: 30px solid #333333;
    border-radius: 25px;
    font-size: 20px;
  }
  .grid-film__button-show-more {
    margin: auto;
    margin-top: 10px;
    display: block;
  }
  .grid-film__hidden-tablet {
    display: none;
  }
  .btn-view {
    background-color: red;
    border: 10px solid red;
    border-right: 10px solid red;
    border-left: 10px solid red;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    font-family: "Oswald", sans-serif !important;
    width: 100%;
  }
  .nav-bar select {
    width: 40%;
    height: 50px;
    background-color: white;
    margin-top: 20px;
    margin-left: 40px;
  }
  .nav-bar option {
    font-size: 20px;
  }
  .modal {
    width: 70%;
    height: 95%;
    overflow: auto;
  }
  .modal__start-content {
    flex-direction: column;
  }
  .modal__content-block {
    width: 90%;
    margin-left: 35px;
  }
  .modal #score-imdb {
    margin-bottom: 20px;
  }
  .modal #modal-title {
    font-size: 40px;
    margin-top: 0px;
  }
  .modal__content-block p {
    font-size: 20px;
  }
  .modal__text-reals {
    font-size: 20px;
  }
  .modal__text {
    font-size: 20px;
  }
  .modal__desc {
    font-size: 20px;
  }
  .modal__image {
    display: none;
  }
  .modal__text-content p {
    height: auto;
  }
  .modal__text-content {
    height: auto;
    margin-left: 35px;
    margin-right: 35px;
  }
  .modal__modal-desc {
    height: 100%;
  }
  .modal__image-mobile {
    display: flex;
    margin: 15px;
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  .modal__image-mobile img {
    margin: auto;
    height: 500px;
    width: 90%;
    background-position: center;
    display: block;
  }
  .modal__btn {
    display: none;
  }
  .modal__actors {
    height: auto;
  }
  .modal__btn-mobile {
    display: flex;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    border: initial;
    background: initial;
    color: initial;
  }
  .modal__btn-mobile img {
    width: 19px;
    height: 19px;
  }
}
@media screen and (max-width: 430px) {
  .banner {
    height: 5em;
    border: 1px solid black;
  }
  .banner__title {
    display: none;
  }
  .banner__logo {
    margin: auto;
    height: 5em;
  }
  .banner__logo img {
    margin: auto;
    height: 5em;
    width: 100%;
  }
  .best-film__title_categorie {
    font-size: 25px;
    margin: 3px;
  }
  .best-film__main-title {
    margin: auto;
    flex-direction: column;
  }
  .best-film__main-movie {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    height: auto;
  }
  .best-film__image {
    padding: 5px;
    width: 96%;
  }
  .best-film__image img {
    width: 100%;
    height: 200px;
  }
  .best-film__container-title h3 {
    font-size: 25px;
  }
  .best-film__container-desc p {
    font-size: 15px;
    height: 100px;
  }
  .best-film__btn {
    background-color: red;
    border: 10px solid red;
    border-right: 40px solid red;
    border-left: 40px solid red;
    font-size: 15px;
  }
  .best-film__button {
    margin-left: 22%;
  }
  .grid-film__main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .grid-film__main-grid img {
    max-height: 250px;
    height: 99%;
  }
  .grid-film__banner {
    height: 110px;
  }
  .grid-film__banner-title h3 {
    font-size: 20px;
    margin-top: 5%;
  }
  .grid-film__bloc-button {
    left: 65%;
    top: 38%;
  }
  .grid-film__btn {
    border: 3px solid #333333;
    border-left: 20px solid #333333;
    border-right: 20px solid #333333;
    border-radius: 15px;
    font-size: 15px;
  }
  .grid-film__hidden-mobile {
    display: none;
  }
  .nav-bar__choice {
    margin-right: 1.3em;
  }
  .nav-bar select {
    margin: auto;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 15px;
  }
  .nav-bar option {
    font-weight: bold;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
  }
  .modal {
    width: 70%;
    height: 95%;
    overflow: auto;
  }
  .modal__start-content {
    flex-direction: column;
  }
  .modal__content-block {
    width: 90%;
    margin-left: 15px;
  }
  .modal #score-imdb {
    margin-bottom: 20px;
  }
  .modal #modal-title {
    font-size: 25px;
    margin-top: 0px;
  }
  .modal__content-block p {
    font-size: 14px;
  }
  .modal__text-reals {
    font-size: 14px;
  }
  .modal__text {
    font-size: 14px;
  }
  .modal__desc {
    font-size: 14px;
  }
  .modal__image {
    display: none;
  }
  .modal__text-content p {
    height: auto;
  }
  .modal__text-content {
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  .modal__modal-desc {
    height: 100%;
  }
  .modal__image-mobile {
    display: flex;
    margin: 15px;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  .modal__image-mobile img {
    height: 300px;
    width: 100%;
    background-position: center;
    display: block;
  }
  .modal__btn {
    display: none;
  }
  .modal__actors {
    height: auto;
  }
  .modal__btn-mobile {
    display: flex;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    border: initial;
    background: initial;
    color: initial;
  }
  .modal__btn-mobile img {
    width: 13px;
    height: 13px;
  }
}

/*# sourceMappingURL=index.css.map */
