body {
    font-family: "Oswald", sans-serif !important;
    z-index: 30;
}

// Block of banner //
.banner {
    display: flex;
    margin: auto;
    background-color: #61787f;
    width: 80%;
    border: 2px solid black;
    margin-top: 1%;
    height: 9em;

    // Pos of logo in banner //
    &__logo img {
        width: 85%;
        height: 85%;
        margin-top: 4%;
        object-fit: contain;
    }

    // Pos and style of title in banner //
    &__title {
        margin: auto;
        margin-top: 10%;
        color: white;
        font-weight: 300;
        font-size: 3em;
    }
}

// Block of best film //
.best-film {
    display: flex;
    margin: auto;
    width: 80%;
    flex-direction: column;

    // Category title (best film here) //
    &__title_categorie {
        font-size: 80px;
    }

    // Container contains all infos of best movie //
    &__main-movie {
        display: flex;
        flex-direction: row;
        border: 10px solid black;
        height: 40em;
    }

    // Container contains image //
    &__image {
        display: flex;
        padding: 20px;
        max-width: 408px;
        width: 100%;
    }

    // size of image //
    &__image img {
        max-width: 100%;
        height: auto;
        flex-shrink: 1;
    }

    // Container contains title, p and details button //
    &__container-title {
        display: flex;
        flex-direction: column;
    }

    // Pos of title in container-title //
    &__container-title h3 {
        font-size: 80px;
        margin-top: 2%;
        margin-left: 3%;
        margin-bottom: 0%;
    }

    // Container of description //
    &__container-desc {
        display: flex;
        margin-left: 5%;
        margin-top: 0%;
        object-fit: contain;
        height: 75%;
        flex-direction: column;
    }

    // Style of description text //
    &__container-desc p {
        font-size: 45px;
        font-weight: 100;
        overflow: auto;
        height: 250px;
    }

    // style of button details //
    &__btn {
        background-color: red;
        border: 30px solid red;
        border-right: 100px solid red;
        border-left: 100px solid red;
        border-radius: 45px;
        font-size: 40px;
        color: white;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
    }

    // Container of button //
    &__button {
        width: 38%;
        margin-left: 60%;
        margin-bottom: 2%;
    }
}

// Block of grid film //
.grid-film {
    display: flex;
    margin: auto;
    width: 80%;
    height: auto;
    flex-direction: column;

    &__main-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        gap: 40px;
    }

    &__main-grid img {
        max-width: 480px;
        max-height: 480px;
        width: 100%;
        height: 100%;
        background-position: center;
        display: block;
    }

    &__item {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }

    &__banner {
        position: absolute;
        display: flex;
        width: 100%;
        height: 180px;
        top: 8%;
        background-color: black;
        opacity: 0.40;
        z-index: 1;
    }

    &__banner-title h3 {
        color: white;
        font-size: 40px;
        margin-top: 0%;
        margin-left: 5%;
        opacity: 1 !important;
        z-index: 200;
        margin-bottom: 0%;
    }

    &__banner-title {
        position: absolute;
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        top: 8%;
    }

    &__bloc-button {
        position: absolute;
        z-index: 200;
        left: 67%;
        top: 33%;
    }

    &__btn {
        background-color: #333333;
        border: 6px solid #333333;
        border-left: 35px solid #333333;
        border-right: 35px solid #333333;
        border-radius: 25px;
        font-family: "Oswald", sans-serif !important;
        z-index: 200;
        color: white;
        font-size: 25px;
    }

    &__button-show-more {
        display: none;
    }
}

// Block of wrap menu category //
.nav-bar {
    display: flex;
    align-items: center;

    &__choice {
        margin-right: 1.3em;
    }

    select {
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        font-size: 20px;
        width: 20%;
        height: 50px;
        background-color: white;
        margin-top: 20px;
        margin-left: 40px;
    }

    option {
        font-weight: bold;
        font-size: 20px;
        font-family: "Oswald", sans-serif;
    }
}

// Block of modal window //
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    z-index: 999;
    background-color: white;
    border: 8px solid black;

    &__content {
        height: 100%;
    }

    &__start-content {
        display: flex;
        flex-direction: row;
    }

    &__content-block {
        width: 70%;
        margin-left: 30px;
    }

    #modal-title {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    &__content-block p {
        font-size: 20px;
    }

    &__text-reals {
        margin-top: 0px;
        font-weight: 100;
        font-size: 20px;
    }

    &__text {
        font-weight: bold;
        margin: 0px;
        font-size: 20px;
    }

    #score-imdb {
        margin-bottom: 10%;
    }

    &__image {
        display: flex;
        margin: 30px;
        max-width: 260px;
        width: 100%;
        max-height: 325px;
    }

    &__image-mobile {
        display: none;
    }

    &__image img {
        width: 100%;
        height: auto;
        flex-shrink: 1;
    }

    &__text-content {
        font-weight: 100;
        margin: auto;
        height: 18em;
        width: 90%;
    }

    &__text-content p {
        overflow: auto;
    }

    &__desc {
        font-size: 22px;
        font-weight: 100;
        margin-top: 0px;
        overflow: auto;
    }

    &__actors {
        margin: auto;
        width: 90%;
        height: auto;
    }

    &__btn {
        background-color: red;
        border: 4px solid red;
        border-left: 100px solid red;
        border-right: 100px solid red;
        border-radius: 25px;
        font-family: "Oswald", sans-serif !important;
        z-index: 200;
        color: white;
        font-size: 25px;
    }

    &__button {
        margin: auto;
        margin-bottom: 5px;
        width: 272px;
    }

    &__btn-mobile {
        display: none;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 499;
    display: none;
}

.grid-choice {
    display: none;
}

#grid-1 {
    visibility: hidden;
}
#grid-2 {
    visibility: hidden;
}
#grid-3 {
    visibility: hidden;
}
#grid-4 {
    visibility: hidden;
}
#grid-5 {
    visibility: hidden;
}
#grid-6 {
    visibility: hidden;
}


// PC Size Low Resolution (1710px) //
@media screen and (max-width: 1710px) {
    .best-film {
        &__button {
            margin-left: 45%;
        }
    }

    .grid-film {
        &__bloc-button {
            left: 57%;
            top: 36%;
        }

        &__banner-title h3 {
            font-size: 30px;
        }

        &__main-grid img {
            max-height: 400px;
            height: 99%;
        }
    }
}

// Pc Size Low Resolution (1540px) //
@media screen and (max-width: 1380px) {
    .best-film {
        &__btn {
            background-color: red;
            border: 20px solid red;
            border-right: 70px solid red;
            border-left: 70px solid red;
            font-size: 30px;
        }

        &__button {
            margin-left: 45%;
        }

        &__container-desc p {
            height: 400px;
            margin: 0;
        }
    }

    .grid-film {
        &__bloc-button {
            left: 51%;
            top: 41%;
        }

        &__banner-title h3 {
            font-size: 30px;
        }

        &__main-grid img {
            max-height: 350px;
            height: 99%;
        }
    }
}

// PC Size low Resolution (1210px) //
@media screen and (max-width: 1210px) {
    .grid-film {
        &__bloc-button {
            left: 49%;
            top: 41%;
        }

        &__banner-title h3 {
            font-size: 30px;
        }

        &__main-grid img {
            max-height: 250px;
            height: 99%;
        }

        &__btn {
            border: 4px solid #333333;
            border-left: 30px solid #333333;
            border-right: 30px solid #333333;
            border-radius: 25px;
            font-size: 20px;
        }

        &__banner-title h3 {
            font-size: 23px;
        }

        &__banner {
            height: 130px;
        }
    }

    .modal {
        
        &__image {
            display: flex;
            margin: 30px;
            max-width: 200px;
            width: 100%;
            max-height: 275px;
        }

        &__image img {
            width: 100%;
            height: auto;
            flex-shrink: 1;
        }

        #modal-title {
            font-size: 30px;
        }

        &__text {
            font-size: 15px;
        }
    }
}

// Tablet size High Resolution (1024px) //
@media screen and (max-width: 1024px) {
    .best-film {
        &__title_categorie {
            font-size: 60px;
            margin: 10px;
            margin-left: 0;
        }

        &__main-movie {
            display: flex;
            border: 10px solid black;
            height: 350px;
        }

        &__image {
            padding: 5px;
            width: 40%;
        }

        &__container-title h3 {
            font-size: 35px;
        }

        &__container-desc p {
            font-size: 25px;
            height: 300px;
            margin: 0;
        }

        &__container-desc {
            margin-left: 3%;
            height: 80%;
        }

        &__btn {
            background-color: red;
            border: 15px solid red;
            border-right: 50px solid red;
            border-left: 50px solid red;
            font-size: 25px;
        }
    
        // Container of button //
        &__button {
            margin-left: 60%;
        }
    }

    .grid-film {
    
        &__main-grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 40px;
        }

        &__main-grid img {
            max-height: 325px;
            height: 99%;
        }

        &__banner {
            height: 140px;
        }

        &__banner-title h3 {
            font-size: 30px;
            margin-top: 0;
        }

        &__bloc-button {
            left: 62%;
            top: 35%;
        }
    
        &__btn {
            border: 4px solid #333333;
            border-left: 30px solid #333333;
            border-right: 30px solid #333333;
            border-radius: 25px;
            font-size: 20px;
        }

        &__hidden-tablet {
            display: none;
        }

        &__button-show-more {
            margin: auto;
            margin-top: 10px;
            display: block;
        }
    }

    .nav-bar {
        
        select {
            width: 40%;
            height: 50px;
            background-color: white;
            margin-top: 20px;
            margin-left: 40px;
        }

        option {
            font-size: 20px;
        }
    }

    .btn-view {
        background-color: red;
        border: 10px solid red;
        border-right: 10px solid red;
        border-left: 10px solid red;
        border-radius: 20px;
        font-size: 15px;
        color: white;
        font-family: "Oswald", sans-serif !important;
        width: 100%;
    }

    .modal {
        width: 70%;
        height: 95%;
        overflow: auto;

        &__start-content {
            flex-direction: column;
        }

        &__content-block {
            width: 90%;
            margin-left: 35px;
        }

        #score-imdb {
            margin-bottom: 20px;
        }

        #modal-title {
            font-size: 40px;
            margin-top: 0px;
        }

        &__content-block p {
            font-size: 20px;
        }

        &__text-reals {
            font-size: 20px;
        }
    
        &__text {
            font-size: 20px;
        }

        &__desc {
            font-size: 20px;
        }

        &__image {
            display: none;
        }

        &__text-content p {
            height: auto;
        }

        &__text-content {
            height: auto;
            margin-left: 35px;
            margin-right: 35px;
        }

        &__modal-desc {
            height: 100%;
        }

        &__image-mobile {
            display: flex;
            margin: 15px;
            max-width: 100%;
            max-height: 600px;
            object-fit: cover;
        }

        &__image-mobile img {
            margin: auto;
            height: 600px;
            width: 90%;
            background-position: center;
            display: block;
        }

        &__btn {
            display: none;
        }

        &__actors {
            height: auto;
        }

        &__btn-mobile {
            display: flex;
            float: right;
            margin-top: 8px;
            margin-right: 8px;
            border: initial;
            background: initial;
            color: initial;
        }

        &__btn-mobile img {
            width: 19px;
            height: 19px;
        }
    }

    #show-more-choice {
        display: none;
    }
}

// Tablet size (840px) //
@media screen and (max-width: 840px) {
    .best-film {
        &__title_categorie {
            font-size: 60px;
            margin: 10px;
            margin-left: 0;
        }

        &__main-movie {
            display: flex;
            border: 10px solid black;
            height: 350px;
        }

        &__image {
            padding: 5px;
            width: 55%;
        }

        &__container-title h3 {
            font-size: 35px;
        }

        &__container-desc p {
            font-size: 20px;
            height: 300px;
            margin: 0;
        }

        &__container-desc {
            margin-left: 3%;
            height: 80%;
        }

        &__btn {
            background-color: red;
            border: 10px solid red;
            border-right: 40px solid red;
            border-left: 40px solid red;
            font-size: 15px;
        }
    
        // Container of button //
        &__button {
            margin-left: 60%;
        }
    }

    .grid-film {
    
        &__main-grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 40px;
        }

        &__main-grid img {
            max-height: 325px;
            height: 99%;
        }

        &__banner {
            height: 140px;
        }

        &__banner-title h3 {
            font-size: 26px;
            margin-top: 0;
        }

        &__bloc-button {
            left: 57%;
            top: 35%;
        }
    
        &__btn {
            border: 4px solid #333333;
            border-left: 30px solid #333333;
            border-right: 30px solid #333333;
            border-radius: 25px;
            font-size: 20px;
        }

        &__button-show-more {
            margin: auto;
            margin-top: 10px;
            display: block;
        }

        &__hidden-tablet {
            display: none;
        }
    }

    .btn-view {
        background-color: red;
        border: 10px solid red;
        border-right: 10px solid red;
        border-left: 10px solid red;
        border-radius: 20px;
        font-size: 15px;
        color: white;
        font-family: "Oswald", sans-serif !important;
        width: 100%;
    }

    .nav-bar {
        
        select {
            width: 40%;
            height: 50px;
            background-color: white;
            margin-top: 20px;
            margin-left: 40px;
        }

        option {
            font-size: 20px;
        }
    }

    .modal {
        width: 70%;
        height: 95%;
        overflow: auto;

        &__start-content {
            flex-direction: column;
        }

        &__content-block {
            width: 90%;
            margin-left: 35px;
        }

        #score-imdb {
            margin-bottom: 20px;
        }

        #modal-title {
            font-size: 40px;
            margin-top: 0px;
        }

        &__content-block p {
            font-size: 20px;
        }

        &__text-reals {
            font-size: 20px;
        }
    
        &__text {
            font-size: 20px;
        }

        &__desc {
            font-size: 20px;
        }

        &__image {
            display: none;
        }

        &__text-content p {
            height: auto;
        }

        &__text-content {
            height: auto;
            margin-left: 35px;
            margin-right: 35px;
        }

        &__modal-desc {
            height: 100%;
        }

        &__image-mobile {
            display: flex;
            margin: 15px;
            max-width: 100%;
            max-height: 500px;
            object-fit: cover;
        }

        &__image-mobile img {
            margin: auto;
            height: 500px;
            width: 90%;
            background-position: center;
            display: block;
        }

        &__btn {
            display: none;
        }

        &__actors {
            height: auto;
        }

        &__btn-mobile {
            display: flex;
            float: right;
            margin-top: 8px;
            margin-right: 8px;
            border: initial;
            background: initial;
            color: initial;
        }

        &__btn-mobile img {
            width: 19px;
            height: 19px;
        }
    }
}

// Mobile size (430px) //
@media screen and (max-width: 430px) {

    .banner {
        height: 5em;
        border: 1px solid black;

        &__title {
            display: none;
        }

        &__logo {
            margin: auto;
            height: 5em;
        }

        &__logo img {
            margin: auto;
            height: 5em;
            width: 100%;
        }
    }

    .best-film {
        &__title_categorie {
            font-size: 25px;
            margin: 3px;
        }

        &__main-title {
            margin: auto;
            flex-direction: column;
        }

        &__main-movie {
            display: flex;
            flex-direction: column;
            border: 4px solid black;
            height: auto;
        }

        &__image {
            padding: 5px;
            width: 96%;
        }

        &__image img {
            width: 100%;
            height: 200px;
        }

        &__container-title h3 {
            font-size: 25px;
        }

        &__container-desc p {
            font-size: 15px;
            height: 100px;
        }

        &__btn {
            background-color: red;
            border: 10px solid red;
            border-right: 40px solid red;
            border-left: 40px solid red;
            font-size: 15px;
        }
    
        // Container of button //
        &__button {
            margin-left: 22%;
        }
    }

    .grid-film {
    
        &__main-grid {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
        }
    
        &__main-grid img {
            max-height: 250px;
            height: 99%;
        }

        &__banner {
            height: 110px;
        }

        &__banner-title h3 {
            font-size: 20px;
            margin-top: 5%;
        }
    
        &__bloc-button {
            left: 65%;
            top: 38%;
        }
    
        &__btn {
            border: 3px solid #333333;
            border-left: 20px solid #333333;
            border-right: 20px solid #333333;
            border-radius: 15px;
            font-size: 15px;
        }

        &__hidden-mobile {
            display: none;
        }
    }

    .nav-bar {
        &__choice {
            margin-right: 1.3em;
        }
    
        select {
            margin: auto;
            font-family: "Oswald", sans-serif;
            font-weight: bold;
            font-size: 20px;
            width: 100%;
            height: 50px;
            background-color: white;
            margin-bottom: 15px;
        }
    
        option {
            font-weight: bold;
            font-size: 20px;
            font-family: "Oswald", sans-serif;
        }
    }
    
    .modal {
        width: 70%;
        height: 95%;
        overflow: auto;

        &__start-content {
            flex-direction: column;
        }

        &__content-block {
            width: 90%;
            margin-left: 15px;
        }

        #score-imdb {
            margin-bottom: 20px;
        }

        #modal-title {
            font-size: 25px;
            margin-top: 0px;
        }

        &__content-block p {
            font-size: 14px;
        }

        &__text-reals {
            font-size: 14px;
        }
    
        &__text {
            font-size: 14px;
        }

        &__desc {
            font-size: 14px;
        }

        &__image {
            display: none;
        }

        &__text-content p {
            height: auto;
        }

        &__text-content {
            height: auto;
            margin-left: 15px;
            margin-right: 15px;
        }

        &__modal-desc {
            height: 100%;
        }

        &__image-mobile {
            display: flex;
            margin: 15px;
            max-width: 100%;
            max-height: 300px;
            object-fit: cover;
        }

        &__image-mobile img {
            height: 300px;
            width: 100%;
            background-position: center;
            display: block;
        }

        &__btn {
            display: none;
        }

        &__actors {
            height: auto;
        }

        &__btn-mobile {
            display: flex;
            float: right;
            margin-top: 8px;
            margin-right: 8px;
            border: initial;
            background: initial;
            color: initial;
        }

        &__btn-mobile img {
            width: 13px;
            height: 13px;
        }
    }
}